@charset "utf-8";
.title1 {
    width: auto;
    /* [disabled]display: table-column; */
    top: 50%;
    left: 50%;

}
.style1 {
}
#caption img {
	-webkit-box-shadow: 15px 16px 16px #6F6363;
	box-shadow: 15px 16px 16px #6F6363;
	background-position: 0% 0%;
	float: none;
	clear: none;
	text-align: center;
}
#maincontent img {
}
body {
}
#caption img {
    clear: none;
    min-width: 0px;
    min-height: 0px;
    left: 50%;

}
